[Unit]
Description=WebServer for Fotobox
After=syslog.target network.target electrum.service

[Service]
User=pi
Group=pi
ExecStart=/bin/bash -c "source /home/pi/pictureLibrary/picLib/bin/activate ; /home/pi/pictureLibrary/app.py"
Restart=always

[Install]
WantedBy=multi-user.target