<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="/">PictureBrowser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if session.logged_in %}
              <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/allSubscriptions">AlleAbos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/dashboard">dashboard</a>
                </li>
				</li>
              <li class="nav-item">
                  <a class="nav-link" href="https://137.208.1.100">CUPS</a>
                </li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
              {% if session.logged_in %}
                <li><a href="/logout">Logout</a></li>

              {% else %}
                <li><a href="/login">Login</a></li>

              {% endif %}
              
              
  
            </ul>
          
        </div>
      </nav>